/*
Theme Name: Sanabel LaunchPad
Description: Child theme for the Sanabel
Author: LaunchPad Media
Author URI: http://www.launchpad.co/
Template: sanabel
Version: 1.0.0
*/

@import url("../sanabel/style.css");
@import url("custom-font/styles.css");

.desktop_menu nav{
  display: none;
}
  .mobile_menu{
    display: none!important;
  }
.clearfix:after{
  display: block;
  clear: both;
  content: '';
}    
.logo{
  margin-bottom: 32px;
}
#site_header .top-bar{
  padding: 10px 0 5px;
  position: relative;
}
#site_header .top-bar:after{
  height: 0.50em;
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  bottom: -4px;
  left: 0;
  right: 0;
  border-top: 1px solid black;
}
#site_header .top-bar .social{
  width: 50%;
  float: left;
}
#site_header .top-bar .social .up_bold{
  font-weight: 500;
  font-size: 15px;
}
#google-translator{
  position: relative;
  float: left;
  width: 50%;
}
a.btn-translate { 
  display: inline-block;
  margin-left: 6px;
  margin-top: -5px;
}
.btn-translate img{
  position: relative;
  top: -3px;
}
/*#google-translator .btn-translate:hover { background: #edf2f2; color: #000; }*/
#google-translator #google_translate_element { 
  position: absolute; 
  width: 28%; 
  height: 32px; 
  left: 80px; 
  top: 3px; 
}
#google-translator #google_translate_element .goog-te-gadget-icon { 
  display: none;
}
#google_translate_element .goog-te-gadget-simple .goog-te-menu-value { 
  color: #000; 
  font-size: 0 
}
#google_translate_element .goog-te-gadget-simple { 
  background-color: transparent; 
  border-width: 0; 
  cursor: pointer; 
  display: inline-block; 
  font-size: 10pt; 
  height: 100%; 
  padding-bottom: 2px; 
  padding-top: 1px; 
  width: 100%; 
}
#google_translate_element .goog-te-gadget { 
  color: #666; 
  font-family: arial; 
  font-size: 11px; 
  height: 42px; 
  white-space: nowrap; 
}
/*
 #site_header #google-translator{
   display: inline-block;
   position: relative;
   top: 0px;
 }
 #google_language_translator{
   display: inline-flex;
   margin-left: 5px;
 }
 #site_header .top-bar .google-translator{
   float: left;
   width: 50%;
 }
 .goog-logo-link{
   display: none!important;
 }
 .goog-te-gadget{
   color: transparent!important;
 }
*/
#site_header .top-bar .resize-header{
  float: right;
  width: 50%;
  text-align: left;
  position: relative;
  top: 4px;
}
.social .resize-header p{
  font-size: 15px;
}
#site_header .top-bar .top-right{
  float: right;
  width: 50%;
}
#site_header .top-bar .nav-utility{
  float: right;
  margin-right: 0px;
  margin-top: 0px;
}
#site_header .header_below_control_wrapper .sub-search{
  padding-top: 42px;
}
.social .mgh-logo{
  position: relative;
  /* left: 30px; */
}
.social .harvard-logo{
  position: relative;
/*left: 15px; */
}
#searchform{
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 40px;
  background-color: #fff;
  margin: 0 10px;
  display: inline-block;
  width: 300px;
  position: relative;
  top: 15px;
}
#searchform .input-group{
  box-sizing: border-box;
  padding: 0px 8px;
}
#searchform input{
  border: 0;
  box-shadow: none;
  padding: 6px 0px 6px 10px;
  height: 24px;
}
#searchform button{
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}
#searchform button:hover{
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}
#searchform .fa-search{
  font-size: 23px;
}
ul.nav-utility{
  padding: 0!important;
  float: right;
  margin-right: 15px;
  margin-top: 20px;
}
.nav-utility li{
  display: inline-block;
  margin-right: 8px;
}
.nav-utility .social-top a{
	color: #fff;
}
  .nav-utility .social-top a:hover{
    color: #fff;
  }
a.social-thumbs{
  padding: 5px 0 0;
  margin: 0 5px 0 0;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  display: inline-block;
  height: 30px;
  width: 30px;
}
.nav-utility li a{
  font-size: 15px;
  color: #1f8ca8;
}
  .nav-utility li a:hover{
    color: black;
  }
.nav-utility .social-top .fa-facebook{
  background:#3b5998
}
.nav-utility .social-top .fa-twitter{
  background:#5ea9dd
}
.nav-utility .social-top .fa-youtube{
  background:#dc3131
}
.nav-utility .social-top .fa-facebook, 
.nav-utility .social-top .fa-twitter, 
.nav-utility .social-top .fa-youtube {
  font-size: 20px;
  top: 2px;
  border-radius: 15px;
}  
.nav-utility .fa-envelope{
  font-size: 18px;
  margin-right: 5px;
}  
.nav-main{
	position:relative;
  background-color: #c70b2c;
}
.navbar{
	border-radius: 0;
  border: 0;
  background: #c70b2c;
  margin: 0;
  min-height: inherit;
}
.navbar-nav{
	margin:0 auto;
	width: 100%;
	text-align: center;
}
.navbar-collapse{
  padding: 0;
}
#menu-header-menu .caret{
  display: none;
}
#menu-header-menu li.active{
	background: #1f8ca8;
}
.nav-main .nav > li > a{
	color:#FFF;
  font-size: 15.25px;
  padding: 15px 0px;
}
.nav-main ul.nav li.dropdown:hover ul.dropdown-menu{
  display: block;
}
  ul.dropdown-menu{
    min-width: 100%;
    text-align: center;
    margin-top: -2px;
  }
    .nav-main .dropdown-menu > li > a{
      color: rgb(0,0,0);
      font-size: 13px;
      padding: 10px 15px;
    }
@media (max-width: 980px) and (min-width: 768px){
  .nav-main .nav > li > a{
    font-size: 12.25px;
  }
  .nav-main .dropdown-menu > li > a{
    font-size: 11px;
  }
}
.nav>li:focus, .nav>li:hover{
  background: #1f8ca8;
}
.navbar-toggle .icon-bar{
	background:#000;
}
.navbar-toggle{
  border-radius: 0;
  border: 1px solid #fff!important;    
  background: #fff;
}
a.navbar-toggle.collapsed{
  border: 1px solid #FFF !important;
  background:none !important;
}
a.navbar-toggle.collapsed .icon-bar{
	background:#fff !important;
}
.navbar-text{
	position: absolute;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  width: 100%;
  height: 50px;
  padding: 11px 0px 0px 20px;
  cursor: pointer;
	display:none;
}
@media (max-width: 990px){
  .header_below_control_wrapper{
    clear: both; 
    text-align: center;
  }
  .first_header_wrapper .logo{
    width: 100%;
    text-align: center;
  }
  div.social{
    padding-top: 0px; 
    padding-bottom: 30px;
  }
  .pull-right{
    float: none!important
  }
  #site_header .header_below_control_wrapper .sub-search{
    display: block!important;
    padding-top: 0px;
    padding-bottom: 50px;
  }
  #site_header .top-bar:after{
    bottom: 20px;
  }
  /* div#google-translator{ */
  /*   top: 0px;	    */
  /* }			    */
  ul.nav-utility{
    float: none!important; 
    margin-top: 0px;
  }
}
@media (max-width: 768px){
  #site_header .top-bar .resize-header{
    display: none;
  }
}
@media (max-width: 600px){
  #google-translator #google_translate_element{
    position: absolute;
    width: 40%;
    height: 32px;
    left: 12px;
    top: 24px;
  }
}
@media (max-width: 480px){
  #site_header .top-bar .social{
    width: 52%;
  }
  #site_header .top-bar .social .up_bold{
    font-size: 14px;
  }
  #site_header .top-bar .top-right{
    width: 48%;
  }
  .nav-utility li a{
    font-size: 13px;
  }
  #google-translator #google_translate_element{
    width: 70%;
    left: 15px;
  }
  #searchform{
    width: 260px;
  }
}
/* Footer Styles */
.footer-fluid{
  padding: 70px 0px 20px;
}
#site_footer .social{
  float: left;
}
#site_footer .social a{
  margin-right: 10px;
}
#site_footer .sub-search{
  float: right;
}
#site_footer #searchform{
  top: 0px;
  border-radius: 0px;
  width: 250px;
  background-color: #333;
}
#site_footer #searchform input[type="text"]{
  background-color: #333; 
  height: 28px;
}
#site_footer .navbar{
  background: inherit;
}
#site_footer .nav>li:focus, 
#site_footer .nav>li:hover{
  background: initial;
}        
@media (max-width: 990px){
  #site_footer .social,
  #site_footer .sub-search{
    float: none; 
    text-align: center;
  }
}    
@media (max-width: 480px){
  .bu-logo img,
  .nidlrr-logo img{
    padding-top: 3%;
  }
}
/* Homepage Content */
#home-featured .new_section{
  padding: 0px;
}
.custom.tp-bullets{
	width: 200px!important;
}
	.custom.tp-bullets div:nth-of-type(1){
		left: 0px;
		top: 0px;
	}
	.custom.tp-bullets div:nth-of-type(2){
		left: 100px!important;
		top: 0px;
	}
	.custom.tp-bullets div:nth-of-type(3){
		left: 200px!important;
		top: 0px;
	}
  .custom.tp-bullets div:nth-of-type(4){
    left: 300px!important;
    top: 0px;
  }
.custom .tp-bullet{
  width: 80px!important;
}
.custom .tp-bullet:hover, 
.custom .tp-bullet.selected{
	background: #c70b2c;
}
.burnmag-home p,
.bsone-home p,
.libre-home p{
  font-size: 12px
}
.burnmag-home{
  background-color: rgba(24,107,141,0.8); 
  color: #fff;
}
  .burnmag-home a img{
    padding-top: 11px;
  }
.bsone-home{
  background-color: rgba(31,140,168,0.8); 
  color: #fff;
}
  .bsone-home a img{
    padding-top: 66px;
  }
.libre-home{
  background-color: rgba(24,107,141,0.8); 
  color: #fff;
}
  .libre-home a img{
    padding-top: 6px;
  }
.home .posts_grid.list .post_grid_list{
  width: 95%;
}
.home .post_caption .title{
  font-size: 16px;
  text-transform: capitalize!important;
  padding-bottom: 5px;
}
.home .post_figure{
  width: 250px!important;
  border: none!important;
  background-color: initial!important;
  box-shadow: none!important;
}
.home .post_meta{
  border-top: 1px solid #ccc;
  padding-top: 5px;
}
.home .post_creds{
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}
.post_creds{
  font-size: 12px;
  color: #888;
  margin-top: 2px;
}
.home .post_caption p{
  padding: 8px 0px;
}
/*.recent_news .post_meta, .recent_news .post_creds, .recent_news .tagcloud {
    display: none;
}
.recent_news .post_figure{width: 170px!important;}
.our_newsletter .col-sm-4.col-md-4.col-lg-4{padding-left: 0!important; padding-right: 5px!important;}
.our_newsletter p{font-size: 11px;line-height: 20px;}
.our_newsletter img{position: relative; top: 10px;} */
.video-box-top,
.video-box-bottom{
  display: block;
  clear: both;
  content: "";
}
.video-home .col-sm-5,
.video-home .col-sm-7{
  padding-bottom: 15px;
}
.video-home .col-sm-5{
  margin-left: -15px;
}
.video-home .col-sm-7{
  top: -8px;
}
  .video-home .col-sm-7 h3{
    font-size: 15px;
  }
  .video-home .col-sm-7 .published{
    font-weight: 800;
  }
.center-home{
  background: #e6f3f9 url("/wp-content/themes/sanabel/images/hexagon.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}
  .center-home .title_divider.title_divider_part{
    background-color:#ccc
  }
  .center-home .title_divider.title_divider_part:before{
    height: 2px;
  }
.our_newsletter .title_wrapper,
.research_pubs .title_wrapper{
  margin-bottom: 17px;
}  
.our_newsletter .col-xs-6.col-sm-6.col-md-6.col-lg-6{
  padding: 0px;
  width: 48%;
}
  .newsletter-new{
    margin-right: 4%;
  }
  .our_newsletter .btn-block{
    margin: 0 auto;
    border-radius: 0px;
    text-transform: uppercase;
    background-color: #c70b2c;
    border-color: #c70b2c;
    padding: 15px 0px;
  }
    .our_newsletter .btn-block:hover, 
    .our_newletter .btn-block:visited, 
    .our_newletter .btn-block:focus{
      background-color: #1f8ca8;
    }
.newsletter-container{
  text-align: center;
  background-color: #fff;
  padding: 10px;
}
  .newsletter-click, 
  .newsletter-click:hover, 
  .newsletter-click:visited, 
  .newsletter-click:focus{
    color:#000;
  }
  .newsletter-container h4{
    text-transform: uppercase;
  }
  .news-title{
    text-transform: uppercase;
    font-size:13px;
    min-height: 45px;
  }
  .news-sub{
    font-style:italic;
    line-height:15px;
    min-height: 32px;
  }
.title_divider.title_divider_part:after, 
.title_divider.title_divider_part_thick:after{
  background-color: #c70b2c!important;
}
.numberCircle{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 14px;
  background: #fff;
  border: 2px solid transparent;
  color: #c70b2c;
  text-align: center;
  font-size: 26px;
  position: relative;
  top: 32px;
}
.research_pubs p{
  font-size: 12px;
  line-height: 15px;
}
.nudge-space{
  clear: both;
  display: block;
  content: "";
}
.partners-home{
  margin-top: 30px;
}
.home .member_avatar{
  border: 1px solid #000
}
.home .member_item .member_info .member_title{
  text-align: center;
}
.home .member_item .member_info .member_title .member_name{
  font-size: 13px;
}
.home .member_item .member_info .member_text{
  text-align: center;
  font-size: 12px;
}
.home .member_item .member_info .member_social_info{
  display: none
}
.parameter-home{
  margin-bottom: 40px;
}
@media (max-width: 1400px){
  .center-home{
    background-image: url("/wp-content/themes/sanabel/images/hexagon-2x.png");
  }
}
@media (max-width: 990px) and (min-width: 768px){
  .video-home .col-sm-5,
  .video-home .col-sm-7{
    width: 100%;
  }
  .news-title{
    min-height: 85px;
  }
  .news-sub{
    min-height: 42px;
  }
}
@media (max-width: 767px){
  .center-home{
    background-image: none;
  }
  .custom.tp-bullets{
    display: none;
  }
  .home .posts_grid.list .post_grid_list{
    width: 100%;
  }
  .home figure.post_figure{
    float: none!important; 
    margin-bottom: 20px
  }
  .partners-home{
    margin-top: 0px;
  }
  .partners-home .col-xs-12{
    margin-top: 30px
  }
  .research_pubs{
    clear: both;
    display: block;
    content: "";
    padding-top: 30px;
  }
}
@media (max-width: 500px){
  .newsletter-container h4{
    font-size: 16px;
  }
  .news-title{
    min-height: 85px
  }
  .news-sub{
    min-height: 56px
  }
  .numberCircle{
    left: -10px;
  }
}

/* About Us Page */
.page-template-about-us .row,
.page-template-resources .row,
.page-template-research .row{
  margin-right: -15px!important;
  margin-left: -15px!important;
}
.page-template-about-us .wp-caption{
  /* background-color: #186b8d; */
  /* padding: 15px;		*/
  text-align: center;
}
.page-template-about-us .wp-caption-text,
.page-template-resources .wp-caption-text{
  text-align: center;
  color: #fff;
  margin-top: 15px;
  font-weight: 500;
  font-size: 12px;
}
.page-template-about-us .main,
.page-template-resources .main,
.page-template-research .main{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.about-nav li {
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  padding-left: 70px;
  position: relative;
  margin: 60px auto;
  font-weight: 600;
}
  .about-nav li a{
    color: #186b8d;
  }
  .about-nav li a:hover{
    color: rgb(0,0,0);
  }
.icon-about-us-research, 
.icon-about-resources, 
.icon-about-us-medical-center {
  font-size: 44px;
  position: absolute;
  left: 12px;
  top: -20px;
  color: #186b8d;
}
/*
 .about-nav li:before{
   content: '';
   min-width: 50px;
   min-height: 50px;
   position: absolute;
   left: 0;
   top: -20px;
   background-repeat: no-repeat;
 }
   .about-nav li.navItem1:before{background-image: url("/wp-content/themes/sanabel/images/about-us-research.png");}
   .about-nav li.navItem2:before{background-image: url("/wp-content/themes/sanabel/images/about-resources.png");}
   .about-nav li.navItem3:before{background-image: url("/wp-content/themes/sanabel/images/about-us-medical-center.png");}
*/
.img-circle{border-radius: 50%;}
.about-us{margin-bottom: 50px;}
  #about-us h1,
  #resources-overview h1,
  #resources-internal h1{
    text-transform: uppercase;
    font-size: 26px;
    color: #c70b2c;
  }
  .about-us p,
  .resources p,
  .principles li{
    font-size: 14px;
  }
.meet-the-team{
  background: url("/wp-content/themes/sanabel/images/medical-team-hero.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  width: 100%;
  overflow: hidden;
  padding: 2% 0;
}
.meet-the-team.research-team{
  background: #186b8d;
}
.meet-the-team .profiles{
  margin: 50px 0px;
}
.meet-the-team h1{
  color: #fff;
}
.meet-the-team .profile{
  background: #fff;
  text-align: center;
  color: #5c5254;
  padding: 40px 15px 15px;
  border-radius: 2px;
  margin-bottom: 10px;
}
.meet-the-team .profile .img-circle{
  max-width: 65%;
  border: 1px solid #ccc;
}
.meet-the-team .profile h4{
  font-weight: normal;
  margin: 30px 0px 5px;
}
  .meet-the-team.contributor-team .profile h4 {
    padding-bottom: 10px;
  }
.meet-the-team .profile p{
  font-size: 10px;
  text-transform: uppercase;
  font-style: italic;
}
.group:after{
  content: "";
  display: table;
  clear: both;
}
.modal .alignleft{
  float: left; 
  margin-right: 11px;
}
.main .btn-primary,
.hero-content .btn-primary{
  background-color: #c70b2c; 
  border-color: #c70b2c; 
  padding: 20px 65px; 
  border: 0px;
}
.main .btn-primary:hover,
.hero-content .btn-primary:hover,
.main .btn-primary:focus,
.hero-content .btn-primary:focus,
.main .btn-primary:active,
.hero-content .btn-primary:active,
.main .btn-primary.active,
.hero-content .btn-primary.active,
.main .open>.dropdown-toggle.btn-primary{
  background-color: #74061a;
  border-color: #74061a;
}

/* Accordion Styles */
.panel{
  margin-bottom: 20px!important;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 2px;
}
.panel-default > .panel-heading{
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #c70b2c;
  border-color: #c70b2c;
}
.panel-heading h3.panel-title {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.panel-title > a {
  font-weight: inherit;
  letter-spacing: inherit;
  text-decoration: inherit;
  padding: inherit;
  display: block;
  color: #fff;
  padding: 8px 0px;
}
.panel-heading > .panel-title a:before {
  font-family: FontAwesome;
  content: "\f068"!important;
  float: right;
  color: inherit;
  padding-right: 10px;
  vertical-align: top;
  background-color: #c70b2c!important;
  font-size: 20px;
}
  .panel-heading > .panel-title a.collapsed:before {
    background-color: inherit;
    content: "\f067"!important;
    color: #fff;
    font-size: 20px;
    position: relative;
    top: -2px;
  }
.panel-heading > .panel-title a:hover{
  color: #fff!important;
}  
.panel-heading > .panel-title a:hover:before{
  background-color: #c70b2c!important;
  color: #fff!important;
}
.panel .panel-body{
  padding: 15px;
  border: 2px solid #c70b2c;
}
.accordion p{
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 24px;
  color: black
}
/* Accordion Styles END */
#medical-centers{
  padding-bottom: 50px;
}
  #medical-centers .page-header h1,
  #model-systems .page-header h1{
    text-align: center;
    font-weight: 600;
  }
.medical-center-more .btn-primary{
  background-color: #fff;
  border: 2px solid #c70b2c;
  border-radius: 0px;
  color: black;
  font-size: 18px;
  font-weight: 600;
  transition: .5s all ease;
  padding: 15px;
}
  .medical-center-more .btn-primary:hover,
  .medical-center-more .btn-primary:focus,
  .medical-center-more .btn-primary:active{
    background-color: #c70b2c;
    border-color: #c70b2c;
    color: #fff;
  }
.meet-the-team.model-systems{
  background: #186b8d;
}
.mc_center{
  text-align: center;
}
#model-systems .profile h4{
  font-weight: 600;
  font-size: 15px;
  min-height: 32px;
}
#model-systems .profile p{
  padding: 8px 0px;
  font-weight: 500;
}
#model-systems .profile .btn-primary{
  padding: 12px;
  border-radius: 0;
  text-transform: uppercase;
}
@media (max-width: 1200px) and (min-width: 768px){
  .meet-the-team .profile h4{
    min-height: 40px;
  }
  #model-systems .profile h4{
    min-height: 70px;
  }
}
@media (max-width: 1200px) and (min-width: 990px){
  .main .btn-primary{padding: 20px;}
}
@media (max-width: 990px){
  #model-systems .profile h4{
    min-height: 60px;
  }
}
@media (max-width: 990px) and (min-width: 768px){
  .about-nav li{
    padding-left: 0px;
    margin: 80px auto;
  }
  .about-nav li:before{
    left: 25px;
    top: -60px;
  }
  .icon-about-us-research, 
  .icon-about-resources, 
  .icon-about-us-medical-center {
    left: 28px;
    top: -50px;
  }
  .meet-the-team .profile p{
    min-height: 42px;
  }
  .main .btn-primary{
    padding: 6px 8px;
  }
}
@media (max-width: 767px){
  .about-nav{
    padding-left: 25%;
  }
  .meet-the-team h1{
    font-size: 28px;
  }
  .thumbnail.alignleft{
    width: 100%;
  }
  .panel-heading h3.panel-title{
    font-size: 16px;
  }
  .main .btn-primary{
    padding: 20px;
  }
}
@media (max-width: 600px){
  #model-systems .col-xs-4{
    float: none;
    width: 100%;
  }
  #model-systems .profile h4{
    min-height: initial;
  }
}

/* Resources Page */
.page-template-resources .site_content {
  font-family: "soleil", sans-serif;
}
.page-template-resources .btn.btn-block.btn-primary{
  text-transform: uppercase;
}
#hero-section{
  margin: 30px 0;
}
.hero-content{
  display: none;
}
/*
 .hero-section{
   background: url("/wp-content/themes/sanabel/images/resources_page_hero.jpg");
   -webkit-background-size: cover;
           background-size: cover;
   max-width: 1400px;
   overflow: hidden;
   height: auto;
   background-repeat: no-repeat;
   background-position: center top;
   padding-bottom: 10%;
   margin: 0 auto;
 }
 .hero-content{
     background-color: rgba(31,140,168,0.1);
     padding: 50px 12px;
     text-transform: uppercase;
     color: #fff;
 }
   .hero-content h2{font-size: 32px; line-height: 42px;}
   .hero-content h4{font-size: 24px; font-weight: 400; line-height: 32px;}
   .hero-content p{font-size: 11px; margin-bottom: 12%;}
   .hero-content .btn-primary{padding: 10px 15px;}
*/
.page-template-resources .top-text{
  text-align: left;
}
.videos-page .top-text,
.fire-safety-and-prevention-page .top-text{
  font-size: 18px;
  line-height: 26px;
}
div.wp-caption .wp-caption-text{
  padding-right: 0px;
}
#resources-overview .intro-block .page-header i{
  width: 100%;
  height: 100%;
  background-color: #c70b2c;
  text-align: center;
  padding: 40px 0px;
  color: #fff;
}
.page-template-resources #resources-nav{
  width: 100%;
  background: #c70b2c;
  display: block!important;
  z-index: 9999;
}
.page-template-resources .nav-tabs.nav-justified > li {
  font-size: 11px;
}
.page-template-resources #resources-nav .nav-tabs.nav-justified > li > a {
  border: none;
  border-radius: 0;
  color: #fff!important;
  padding: 30px 0px;
  text-transform: uppercase;
  background-color: #c70b2c;
  height:165px;
}
  .page-template-resources #resources-nav .nav-tabs > li > a:after{
    display: none;
  }
  .page-template-resources #resources-nav .nav-tabs.nav-justified > li:hover > a:hover,
  .page-template-resources #resources-nav .nav-tabs.nav-justified > li:focus > a:focus{
    background: #74061a;
  }
  .page-template-resources #resources-nav .nav-tabs.nav-justified > .active > a,
  .page-template-resources #resources-nav .nav-tabs.nav-justified > .active:hover > a:hover,
  .page-template-resources #resources-nav .nav-tabs.nav-justified > .active:focus > a:focus{
    background: #186b8d;
  }
    .page-template-resources #resources-nav .nav-tabs.nav-justified > .active {
      background: #186b8d;
    }
.page-template-resources #resources-nav .nav-tabs.nav-justified > li > a i {
  width: 100%;
  clear: both;
}
  .page-template-resources #resources-nav .nav-tabs.nav-justified > li > a i.icon-heart{
    margin-bottom: 38px;
    top: 6px;
  }
  .page-template-resources #resources-nav .nav-tabs.nav-justified > li > a i.icon-wheelchair,
  .page-template-resources #resources-nav .nav-tabs.nav-justified > li > a i.icon-other{
    margin-bottom: 38px;
    top: 8px;
  }
	.page-template-resources #resources-nav .nav-tabs.nav-justified > li:nth-of-type(1) > a{
    position: relative;
    padding-bottom: 30px;
    padding-top: 35px;
  }
  .page-template-resources #resources-nav .nav-tabs.nav-justified > li:nth-of-type(5) > a i{
    border-right-width:1px !important;
    border-right-color:rgb(199, 11, 44) !important;
  }
  .page-template-resources #resources-nav .nav-tabs.nav-justified > li:nth-of-type(5) > a{
    position: relative;
    padding-bottom: 15px;
    padding-top: 35px;
    border-right-width:1px !important;
    border-right-color:rgb(199, 11, 44) !important;
  }
  .page-template-resources #resources-nav .nav-tabs.nav-justified > li:nth-of-type(6) > a{
    position: relative;
    padding-top: 35px;
  }
  .page-template-resources #resources-nav .nav-tabs.nav-justified > li:nth-of-type(2) > a, 
  .page-template-resources #resources-nav .nav-tabs.nav-justified > li:nth-of-type(3) > a, 
  .page-template-resources #resources-nav .nav-tabs.nav-justified > li:nth-of-type(4) > a{
    position: relative;
    padding-top: 43px;
  }
  .page-template-resources #resources-nav .nav-tabs.nav-justified > li:nth-of-type(2) > a i,
  .page-template-resources #resources-nav .nav-tabs.nav-justified > li:nth-of-type(3) > a i,
  .page-template-resources #resources-nav .nav-tabs.nav-justified > li:nth-of-type(4) > a i{
    margin-bottom: 8px;
  }
.icon-heart,
.icon-wheelchair,
.icon-other{
  display: inline-block;
  font-size: 5em;
  line-height: 0px;
  position: relative;
  top: 0px;
}
.page-template-resources .tab-container #peer-support .resource-content,
.page-template-resources .tab-container #fire-safety .resource-content,
.page-template-resources .tab-container #disability-resources .resource-content{
  background: #186b8d;
}
.page-template-resources .tab-container{
  background: #186b8d;
}
  .page-template-resources .tab-pane{
    padding-top: 75px;
  }
  .page-template-resources .tab-container h2{
    color: #fff;
    margin: 0 0 25px;
  }
  .page-template-resources .tab-container .resource-content{
    background: #fff;
    padding: 40px;
    margin-bottom: 20px;
  }
@-moz-document url-prefix(){
  .page-template-resources #resources-nav .nav-tabs.nav-justified > li > a i.icon-heart{
    margin-bottom: 17px;
    top: 6px;
  }
  .page-template-resources #resources-nav .nav-tabs.nav-justified > li > a i.icon-wheelchair{
    margin-bottom: 16px;
    top: 8px;
  }
  .page-template-resources #resources-nav .nav-tabs.nav-justified > li > a i.icon-wheelchair{
    margin-bottom: 17px;
  }
  .page-template-resources #resources-nav .nav-tabs.nav-justified > li:nth-of-type(2) > a i,
  .page-template-resources #resources-nav .nav-tabs.nav-justified > li:nth-of-type(3) > a i,
  .page-template-resources #resources-nav .nav-tabs.nav-justified > li:nth-of-type(4) > a i{
    margin-bottom: 9px;
  }
}
#peer-middle {
  background: url('/wp-content/themes/sanabel/images/peer-middle-img-2.jpg')!important;
  -webkit-background-size: cover!important;
          background-size: cover!important;
  width: 100%!important;
  background-repeat: no-repeat!important;
  margin-top: 50px;
  height: 680px;        
}
#peer-middle .top-half p{
  min-height: 230px;
}
#peer-top .organization{
  padding: 0px!important;
}
#peer-top .organization p{
  line-height: 15px;
  font-size: 13px;
  padding: 5px 30px;
}
  #peer-top .organization p:last-child{
    padding-bottom: 20px;
  }
#peer-bottom .page-header h1{
  color: #fff;
}
#peer-bottom .profiles{
  margin: 20px 0px;
}
#peer-bottom .profile{
  background: #fff;
  text-align: center;
  color: #5c5254;
  padding: 20px;
  border-radius: 2px;
  margin-bottom: 20px;
}
#peer-bottom .profile .img-circle{
  max-width: 65%;
  border: 1px solid #ccc;
}
#peer-bottom .profile h4{
  font-weight: normal;
  margin: 30px 0px;
  font-weight: 600;
  text-transform: uppercase;
}
#peer-bottom .modal-body p{
  font-size: 14px;
}     
.organization{
  padding: 30px;
  background-color: #fff;
  text-align: center;
  margin-bottom: 25px;
}
.organization .img-circle{
  max-width: 40%;
}
.organization h4{
  font-size: 14px;
}
.organization p{
  font-size: 12px;
} 
.organization .top-half{
  min-height: 240px
}   
.organization ul.org-social{
  overflow: auto;
  padding: 0;
  width: 170px;
  margin: 0 auto;
  margin-bottom: 15px;
}    
.organization ul.org-social li {
  float: left;
  list-style: none;
}
  .organization ul.org-social a{
    width: 100%;
    height: 100%;
    display: block;
  }
  .organization ul.org-social a i{
    background: #c70b2c;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    margin-left: 20px;
    padding-top: 8%;
  }
    #fire-safety .organization ul.org-social a i{
      margin-left: 36px;
    }
.organization .btn-primary{
  padding: 15px;
  font-size: 12px;
}
  .organization .icon-heart{
    font-size: 20px;
    position: relative;
    top: 5px;
    margin-right: 10px;
  }
  .organization .fa-fire-extinguisher{
    position: relative;
    top: 3px;
    margin-right: 5px;
  }
#factsheets .resource-content h3{
  text-align: center;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
  text-transform: uppercase;
}
#factsheets .resource-content > ul li{
  list-style: none;
  font-size: 20px;
  padding: 15px;
}
#factsheets .resource-content > ul li:nth-child(odd){
  background-color: #f9f9f9;
}
#factsheets .resource-content .internal{
  padding: 20px;
  font-size: 16px;
  line-height: 22px;
}
#video-tabs > li.active{
  background-color: #186b8d;
  color: #fff;
}
#video-tabs > li.active > a {
  border-color: #186b8d!important;
}
#video-tabs > li > a:after,
#video-tabs > li.active > a:after{
  display: none;
}
#videos .tab-pane{
  padding-top: 15px;
}        
#videos .video{
  padding: 20px;
  display: none;
}
#videos .published{
  font-size: 16px;
  font-weight: bold;
}
#videos .video-description{
  font-size: 16px;
}
.video-link{
  position: relative;
  display: block;
} 
  .video-link:before{
    content: '\f04b';
    z-index: 5;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 25px 15px 25px 25px;
    color: white;
    font-family: 'FontAwesome';
    font-size: 48px!important;
    background-color: #e12a43;
    border-radius: 5px;
    transition: all .5s ease;
  }
.load-more{
  text-align: center;
  margin: 20px 0px;
}
  .load-more a.load-more-videos,
  .load-more a.load-more-publications{
    background: #c70b2c;
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;
    color: #fff;
    display: block;
  }
    a.load-more-videos:hover,
    a.load-more-videos:focus,
    a.load-more-publications:hover,
    a.load-more-publications:focus{
      background: #74061a
    }
.select-btn{
  text-align: right;
}
.select-btn .dropdown-toggle{
  font-size: 14px;
  padding: 14px;
}
  .select-btn .caret{
    border-width: 10px 8px 10px 8px;
    margin-left: 8px;
  }
  .select-btn .dropdown-menu > li > a{
    font-size: 13px;
    padding: 12px;
  }    
#disability-resources .profile{
  background: #fff;
  text-align: center;
  color: #5c5254;
  padding: 40px 15px 15px;
  border-radius: 2px;
  margin-bottom: 50px;
}
  #disability-resources img{
    max-width: 65%;
    margin-bottom: 30px;
  }
  #disability-resources .profile p {
    min-height: 70px;
    padding: 15px 0px;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    text-transform: uppercase;
  }
  #disability-resources .profile .btn-primary {
    font-size: 12px;
    font-weight: 600;
  }
#disability-resources .modal-header h4{
  font-size: 24px;
}
#disability-resources .modal-body p{
  font-size: 16px;
  line-height: 22px;
}
#disability-resources .modal-body ul li{
  font-size: 16px;
  margin-bottom: 8px;
} 
@media (max-width: 1200px) and (min-width: 991px){
  #peer-middle .top-half p{
    min-height: 290px
  }
  #fire-safety .top-half p{
    min-height: 230px;
  }
} 
@media (max-width: 990px){
  #peer-middle{
    height: inherit;
  }
  #peer-middle .top-half p{
    min-height: inherit;
  }
  #peer-bottom .profile h4{
    min-height: 40px
  }
  .organization ul.org-social{
    width: 250px;
  }
  .organization ul.org-social a i{
    margin-left: 40px;
  }
    #fire-safety .organization ul.org-social a i{
      margin-left: 60px
    }
  #peer-support .col-md-10{
    width: 100%;
    left: 0;
  }
}
@media (max-width: 768px){
  p.top-text{
    margin-bottom: 30px;
  }
  #peer-middle{
    background: white!important;
  }
  #peer-middle .organization{
    background-color: rgba(249,249,249,1);
  }
}
@media (max-width: 500px){
  .organization{
    padding: 15px;
  }
  .organization ul.org-social{
    width: 170px;
  }
  .organization ul.org-social a i{
    margin-left: 20px;
  }
    #fire-safety .organization ul.org-social a i{
      margin-left: 36px;
    }
  .organizations .col-md-offset-2.col-md-4, .organizations .col-md-4 {
    margin-left: -15px!important;
    margin-right: -15px!important;
  }  
}

/* Back-to-Top Styles Section */
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(199, 11, 44, 0.8) url('/wp-content/themes/sanabel/images/cd-top-arrow.svg') no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: rgb(116,6,26);
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

/* Research Page */
#hero-research {
  background: url("/wp-content/themes/sanabel/images/Research_Assistants_4.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  max-width: 1400px;
  overflow: hidden;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center top;
  padding-bottom: 40%;
  margin: 0 auto;
}
.page-template-research #research-nav {
  width: 100%;
  background: #1f8ca8;
  display: block!important;
  z-index: 9999;
}
.page-template-research .nav-tabs.nav-justified > li {
  font-size: 11px;
}
.page-template-research #research-nav .nav-tabs.nav-justified > li > a {
  border: none;
  border-radius: 0;
  color: #fff!important;
  padding: 30px 0px;
  text-transform: uppercase;
  background-color: #186b8d;
  height:149px;
}
  .page-template-research #research-nav .nav-tabs > li > a:after{
    display: none;
  }
  .page-template-research #research-nav .nav-tabs.nav-justified > li:hover > a:hover,
  .page-template-research #research-nav .nav-tabs.nav-justified > li:focus > a:focus{
    background: #25a7da;
  }
  .page-template-research #research-nav .nav-tabs.nav-justified > .active > a,
  .page-template-research #research-nav .nav-tabs.nav-justified > .active:hover > a:hover,
  .page-template-research #research-nav .nav-tabs.nav-justified > .active:focus > a:focus{
    background: #c70b2c;
  }
    .page-template-research #research-nav .nav-tabs.nav-justified > .active {
      background: #c70b2c;
    }
.page-template-research #research-nav .nav-tabs.nav-justified > li > a i {
  width: 100%;
  clear: both;
}
.page-template-research #research-nav .nav-tabs.nav-justified > li:nth-of-type(6) > a{
    border-right-width:1px !important;
    border-right-color:#1f8ca8 !important;
}
.page-template-research #research-nav .nav-tabs.nav-justified > li:nth-of-type(6) > a i{
    border-right-width:1px !important;
    border-right-color:#1f8ca8 !important;
}
.page-template-research #research-nav .nav-tabs > li.active:last-child > a{
  border-right-color: #c70b2c !important;
  border-right-width:0 !important;
}
.icon-itch,
.icon-libre,
.icon-database,
.icon-publications,
.icon-presentations{
  display: inline-block;
  font-size: 5em;
  line-height: 0px;
  position: relative;
  top: 0px;
}
.page-template-research .tab-container{
  background: #c70b2c;
}
  .page-template-research .tab-container.itch-bkg{
    background: url('/wp-content/themes/sanabel/images/pain-itch-bg.png') no-repeat center center;
  }
  .page-template-research .tab-container.libre-bkg{
    background: url('/wp-content/themes/sanabel/images/libre_bkg_2.jpg') no-repeat center center;
  }
  .page-template-research .tab-container.other-bkg{
    background: url('/wp-content/themes/sanabel/images/Schneider-Office.jpg') no-repeat center center;
  }
.page-template-research .tab-pane{
  padding-top: 75px;
}
.page-template-research .tab-container .research-content {
  background: #fff;
  padding: 40px;
  margin-bottom: 20px;
}
  #pain-and-itch-study .research-content{
    background: rgba(250,250,250,.75);
  }
  #libre-project .research-content{
    background: rgba(250,250,250,.85)
  }
  /* START added for project name change */
  #libre-journey-study .research-content{
    background: rgba(250,250,250,.85)
  }
  /* END added for project name change */
  #longitudinal-database .research-content{
    margin-bottom: 60px;
  }
  #research-other .research-content{
    background: transparent
  }
.itch-top{
  text-align: center;
}
  .itch-top h3{
    color: #186b8d;
  }
  .itch-top p{
    font-size: 14px;
  }
.itch-sidebar ul{
  padding-left: 0px;
}
.itch-sidebar ul li{
  list-style-type: none;
}
.itch-sidebar ul .trail{
  margin-bottom: 10px;
  font-size: 14px;
}
.itch-sidebar ul li i{
  font-size: 26px;
}
.itch-bold{
  font-weight: bold;
}
.itch-sidebar h4{
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 400;
}
.itch-sidebar ul li > i{
  float: left;
  width: 10%;
  position: relative;
  top: 5px;
}
.itch-sidebar ul li > ul{
  float: left;
  width: 85%;
}
.col-md-4.itch-sidebar{
  margin-left: 60px;
  width: 30%;
}
.col-md-8.itch-content{
  width: 60%;
}
.itch-content{
  border-left: 1px solid black;
}
.itch-content p,
.itch-bottom p{
  line-height: 30px;
  font-size: 14px;
}
.itch-bottom{
  margin-top: 25px;
}
.itch-info-btn{
  text-align: center;
  margin-top: 40px;
}
.page-template-research .itch-more{
  border-radius: 0px;
  padding: 15px 20px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #186B8D;
  border-color: #186B8D;
}
  .page-template-research .itch-more:hover,
  .page-template-research .itch-more:focus,
  .page-template-research .database-custom:hover,
  .page-template-research .database-custom:focus{
    background-color: #1f8ca8;
    border-color: #1f8ca8;
  }
.libre-content{
  margin-bottom: 40px;
}
  .libre-content:after {
    display: block;
    width: 75%;
    border-bottom: 2px solid black;
    margin: 30px auto 0px;
  }
  .libre-content h3{
    text-align: center;
    width: 80%;
    margin: 0 auto 30px;
    font-size: 26px;
  }
  .libre-content h4{
    margin: 20px 0px;
    font-weight: 300;
  }
  .libre-content p.top {
    width: 80%;
    margin: 0 auto 30px;
    font-size: 1.25em;
    line-height: 1.5em;
  }  
  .libre-other {
    margin: 20px 0;
  }
  .libre-other .profile .btn.btn-block.btn-primary {
    padding: 12px;
    margin-top: 10px;  
  }
.libre-inner{
  width: 75%;
  margin: 0 auto;
}
  .libre-inner p,
  .libre-inner ul li{
    font-size: 16px
  }
.libre-video p{
  margin: 30px 0px;
  font-size: 16px;
}
.libre-bottom{
  margin-top: 60px;
  text-align: center;
}
  .libre-bottom p{
    font-size: 16px;
  }
.database-top h3{
  text-align: center;
}  
.database-img{
  text-align: center;
}
  .database-img figcaption ul li{
    list-style-type: none;
    font-size: 13px;
    line-height: 18px;
  }
.database-content{
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
}
  .database-content p,
  .database-content ol li{
    font-size: 16px;
    line-height: 28px;
  }
.page-template-research .database-custom{
  background-color: #186b8d;
  border-color: #186b8d;
  padding: 12px 20px;
  border-radius: 0px;
  width: 100%;
}
.database-bottom{
  width: 50%;
  margin: 40px auto 10px;
  text-align: center;
}
.btn-bold{
  font-weight: bold;
}
#publications{
  padding-bottom: 75px;
}
.publication{
  padding: 8px;
}
.publication:nth-child(even){
  background-color: #f9f9f9;
}
.publication a{
  font-size: 16px;
  color: rgb(0,0,0);
}
  .publication a:hover,
  .publication a:focus{
    color: #44c8f2;
  }
.bump{
  margin-left:10px;
}
.bcustom{
  width:100px;
}
#pub-navbar {
  float: left;
  width: 20%;
}
.mycollapse {
  display: none;
}
#pub-content {
  float: right;
  width: 80%;
}
#publications .asalah_select_container{
  background-color: #ffffff;
  padding: 0px;
}
  #publications .btn-group button{
    font-size: 16px;
    font-weight: 600;
  }
  #publications .asalah_select_container:before{
    display: none;
  }
  #publications .btn-group button .caret{
    border-width: 9px 7px 9px 7px;
    margin-top: -1px;
  }
  #publications .multiselect-selected {
    background-color: #DCDCDC;
  }
.publication:nth-child(even){
  background-color: #DCDCDC;
}
.publication a {
  font-size: 14px;
}
#publications label.checkbox a {
  background-color: #DCDCDC;
}
.publication-container {
  padding-bottom:50px;
  padding-top:20px;
}
#research-other .research-content .profile{
  background-color: #fff;
  background: #fff;
  text-align: center;
  color: #5c5254;
  padding: 40px 15px 15px;
  border-radius: 2px;
  margin-bottom: 50px;
}
#research-other .research-content .research-other-content ul{
  padding: 0;
} 
#research-other .research-content .research-other-content ul li{
  list-style-type: none;
  margin: 5px;
}
#research-other .modal-body p{
  text-align: center;
}
#research-other .modal-body p a{
  font-size: 16px;
  line-height: 20px;
}
#research-other .modal-body .risk-calc{
  width: 50%;
  margin: 0 auto;
} 
@media (max-width: 990px){
  .itch-top h3,
  .itch-bottom h3{
    font-size: 18px;
  }
  .itch-top p,
  .itch-bottom p{
    font-size: 12px;
  }
  .itch-sidebar ul li > i{
    width: 18%;
  }
  .itch-sidebar ul li > ul{
    width: 82%;
  }
  .database-content{
    width: 100%;
  }
  .libre-content h3 {
    font-size: 23px;
  }
}
@media (max-width: 990px) and (min-width: 768px){
  .itch-bottom .col-sm-5{
    position: relative;
    top: 50px;
  }
  .libre-video .col-sm-5,
  .libre-video .col-sm-7{
    width: 100%;
  }
}
@media (max-width: 767px){
  .page-template-research .tab-pane{
    padding-top: 25px;
  }
  .page-template-research .tab-container.itch-bkg,
  .page-template-research .tab-container.other-bkg{
    background: white;
  }
  #pain-and-itch-study .research-content,
  #research-other .research-content{
    background: rgba(249,249,249,1);
  }
  .itch-top{
    margin-left: -15px!important;
    margin-right: -15px!important;
  }
  .col-md-4.itch-sidebar{
    margin-left: 0px;
    width: 100%;
  }
  .itch-sidebar ul li > i{
    width: 10%;
  }
  .col-md-8.itch-content{
    width: 100%;
  }
  .itch-content{
    border-left: none;
  }
  .col-sm-12.col-md-12.itch-bottom, 
  .col-sm-12.col-md-12.itch-info-btn {
    margin-right: -15px!important;
    margin-left: -15px!important;
  }
  .libre-content h3,
  .libre-inner{
    width: 100%;
  }
  .libre-video .col-sm-5,
  .libre-video .col-sm-7{
    margin-right: -15px!important;
    margin-left: -15px!important;
  }
  #longitudinal-database .col-sm-12.col-md-12{
    margin-right: -15px!important;
    margin-left: -15px!important;
  }
  .database-content p,
  .database-content ol li{
    font-size: 14px;
    line-height: 26px;
  }
  .database-img figcaption ul{
    padding-left: 0px!important;
  }
  .database-bottom{
    width: 100%;
  }
  #research-other .modal-body .risk-calc{
    width: 100%;
    padding: 20px;
  }
}
@media (max-width: 500px){
  .page-template-research .tab-container.libre-bkg{
    background: white;
  }
  #libre-project .research-content{
    background: rgba(249,249,249,.85);
  }
  /* START added for project name change */
  #libre-journey-study .research-content{
    background: rgba(249,249,249,.85);
  }
  /* END added for project name change */
  .itch-sidebar ul li > ul{
    width: 82%;
  }
  .database-content ol{
    padding-left: 0px;
  }
  .page-template-research .database-custom{
    padding: 8px;
    font-size: 10px;
  }
}
/* Contact us Page */
.contact-banner-image{
  background-image: url("/wp-content/themes/sanabel/images/spaulding-contact.png");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: auto;
  max-width: 1400px;
  overflow: hidden;
  margin: 0 auto;
  padding-bottom: 40%;
}
#contact-content{
  margin: 50px 0px;
}
.contact-form{
  border: 8px solid #c70b2c;
  background-color: #f1f1f1;
}
#contact-content .gform_body{
  position: relative;
  top: -15px;
}
#contact-content .gform_wrapper h3.gform_title {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  padding-top: 10px;
}
#contact-content .gform_wrapper .gform_body .line,
#contact-content .gform_wrapper .gform_body .checkbox,
#contact-content .gform_wrapper .gform_body .message,
#contact-content .gform_wrapper .top_label div.ginput_container{
  margin-top: 0px;
}
#contact-content .gform_wrapper ul.gform_fields li.gfield{
  padding-right: 0px;
}
#contact-content .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
  width: 100%;
  padding: 10px 12px;
}
#contact-content .gform_wrapper ul.gfield_checkbox{
  margin: 0px;
}
#contact-content .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox]{
  transform: scale(1.5);
  margin-left: 1%;
}
#contact-content .gform_wrapper .gfield_checkbox li label {
  margin-left: 6.5%;
  margin-top: 1%;
  font-size: 1em;
  font-weight: 100;
}
#contact-content .gform_wrapper .message textarea.medium {
  height: 120px;
}
#contact-content .gform_wrapper .gform_footer{
  padding: 0;
  margin: 0;
}
#contact-content input[type=submit] {
  background-color: #1f8ca8;
  width: 100%;
}
.contact-info{
  text-align: center;
}
.contact-info p{
  font-size: 18px;
  line-height: 40px;
}
.contact-info .address{
  margin: 15px 0;
}
  .contact-info .address p,
  .contact-info .extra p{
    margin: 0;
  }
.contact-info .extra{
  margin-bottom: 15px;
}  
.contact-info .extra p span{
  font-weight: bold;
}
.contact-info .google-map{
  margin-top: 18%;
}
@media (max-width: 990px) and (min-width: 768px){
  .google-map iframe{
    max-width: 100%;
  }
}
@media (max-width: 767px){
  .contact-form{
    margin: 0 30px;
  }
  .contact-info{
    margin-top: 50px;
  }
  .contact-info .google-map{
    margin-top: 8%;
  }
}
/* Search Page */
.blog_main_content .blog_post{
  padding-bottom: 0px;
}
.blog_main_content .blog_description{
  margin-top: 8px;
}
.blog_body_wrapper .blog_heading{
  min-height: initial;
}
.blog_title h3 a:hover,
.blog_title h3 a:focus{
  color: #1f8ca8;
}

html {
    overflow-x: scroll;
}
body{
    overflow-x: scroll;
}
/* Header Styles - Custom */
body.page-template-contact-us,
body.page-template-home,
body.page-template-about-us,
body.page-template-research,
body.page-template-resources{
  overflow-x: initial;
}

body.page-template-resources{
  overflow-x: initial;
}

body.page-template-contact-us{
  overflow-x: initial;
}