@charset "UTF-8";

@font-face {
  font-family: "custom-font";
  src:url("fonts/custom-font.eot");
  src:url("fonts/custom-font.eot?#iefix") format("embedded-opentype"),
    url("fonts/custom-font.woff") format("woff"),
    url("fonts/custom-font.ttf") format("truetype"),
    url("fonts/custom-font.svg#custom-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "custom-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "custom-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ballot:before {
  content: "\61";
}
.icon-wheelchair:before {
  content: "\62";
}
.icon-other:before {
  content: "\63";
}
.icon-heart:before {
  content: "\64";
}
.icon-site-specific:before {
  content: "\65";
}
.icon-publications:before {
  content: "\66";
}
.icon-presentations:before {
  content: "\67";
}
.icon-database:before {
  content: "\68";
}
.icon-libre:before {
  content: "\69";
}
.icon-itch:before {
  content: "\6a";
}
.icon-about-us-research:before {
  content: "\6b";
}
.icon-about-us-medical-center:before {
  content: "\6c";
}
.icon-about-resources:before {
  content: "\6d";
}
