		<div class="col-md-2">
			<div style="vertical-align:top; margin-left:10px; background-color: #ffffff;" class="example2">
				<h4>Select Years of Publication</h4>
				<select style="padding-top:14px; border-color:#c70b2c; background-color: #ffffff;" id="bh_bim_publications" multiple="multiple">
					<option selected="selected" value="#demo2017">2017</option>
					<option value="#demo2016">2016</option>
					<option value="#demo2015">2015</option>
					<option value="#demo2014">2014</option>
					<option value="#demo2013">2013</option>
					<option value="#demo2012">2012</option>
				</select>
			</div>
		</div>
		<div class="col-md-10">
			<div style="overflow-y: scroll; height:900px; padding-bottom:20px" class="all_publications" id="demoselect2017">
				<div class="years" style="vertical-align:top; margin-left:10px" id="year2017">
					<h2>2017</h2><!-- 2017 -->
					<!-- 29183751 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/29183751" target="_blank">Schneider JC, Shie VL, Espinoza L, Shapiro GD, Lee A, Acton A, Marino M, Jette A, Kazis LE, Ryan CM; LIBRE Advisory Board. The impact of work-related burn injury on social reintegration outcomes: A Life Impact Burn Recovery Evaluation (LIBRE) study. Arch Phys Med Rehabil. 2017 Nov 25. pii: S0003-9993(17)31383-7. doi: 10.1016/j.apmr.2017.10.022. [Epub ahead of print] PubMed PMID: 29183751.</a></div>
					<!-- 29169697 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/29169697" target="_blank">Hickey S, Gomez J, Meller B, Schneider J, Cheney M, Nejad S, Schulz J, Goverman J. Response to Letter to the Editor: 'Interactive home telemedicine and burns: A new method'. Burns. 2017 Nov 20. pii: S0305-4179(17)30577-6. doi: 10.1016/j.burns.2017.10.015. [Epub ahead of print] PubMed PMID: 29169697.</a></div>
					<!-- 29140950 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/29140950" target="_blank">Kazis LE, Sheridan RL, Shapiro GD, Lee AF, Liang MH, Ryan CM, Schneider JC, Lydon M, Soley-Bori M, Sonis LA, Dore EC, Palmieri T, Herndon D, Meyer W, Warner P, Kagan R, Stoddard FJ, Murphy M, Tompkins RG. Development of Clinical Process Measures for Pediatric Burn Care: Understanding Variation in Practice Patterns. J Trauma Acute Care Surg. 2017 Nov 14. doi: 10.1097/TA.0000000000001737. [Epub ahead of print] PubMed PMID: 29140950.</a></div>
					<!-- 29097179 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/29097179" target="_blank">Grieve B, Shapiro GD, Wibbenmeyer L, Acton A, Lee A, Marino M, Jette A, Schneider JC, Kazis LE, Ryan CM; LIBRE Advisory Board. Long-term social reintegration outcomes for burn survivors with and without peer support attendance: A Life Impact Burn Recovery Evaluation (LIBRE) Study. Arch Phys Med Rehabil. 2017 Oct 30. pii: S0003-9993(17)31328-X. doi: 10.1016/j.apmr.2017.10.007. [Epub ahead of print] PubMed PMID: 29097179.</a></div>
					<!-- 29050789 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/29050789" target="_blank">Amtmann D, Bocell FD, McMullen K, Bamer AM, Johnson KL, Wiechman S, Schneider JC. Satisfaction with Life over Time in People with Burn Injury: A National Institute on Disability, Independent Living, and Rehabilitation Research Burn Model System Study. Arch Phys Med Rehabil. 2017 Oct 16. pii: S0003-9993(17)31267-4. doi: 10.1016/j.apmr.2017.09.119. [Epub ahead of print] PubMed PMID: 29050789.</a></div>
					<!-- 28989076 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/28989076" target="_blank">Amtmann D, McMullen K, Bamer A, Fauerbach JA, Gibran NS, Herndon D, Schneider JC, Kowalske K, Holavanahalli R, Miller AC. The National Institute on Disability, Independent Living, and Rehabilitation Research Burn Model System: Review of Program and Database. Arch Phys Med Rehabil. 2017 Oct 5. pii: S0003-9993(17)31256-X. doi: 10.1016/j.apmr.2017.09.109. [Epub ahead of print] PubMed PMID: 28989076.</a></div>
					<!-- 28971055 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/28971055" target="_blank">Miraval FK, Shie VL, Morales-Quezada L, Santiago C, Fernandes-Marcondes B, Nadler D, Ryan CM, Schneider JC, Fregni F. A Preliminary Study on qEEG in Burn Patients With Chronic Pruritus. Ann Rehabil Med. 2017 Aug;41(4):693-700. doi: 10.5535/arm.2017.41.4.693. Epub 2017 Aug 31. PubMed PMID: 28971055; PubMed Central PMCID: PMC5608678.</a></div>
					<!-- 28888383 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/28888383" target="_blank">Marino ME, Dore EC, Ni P, Ryan CM, Schneider JC, Acton A, Jette AM, Kazis LE. Developing Item Response Theory-Based Short Forms to Measure the Social Impact of Burn Injuries. Arch Phys Med Rehabil. 2017 Sep 6. pii: S0003-9993(17)31072-9. doi: 10.1016/j.apmr.2017.06.037. [Epub ahead of print] PubMed PMID: 28888383.</a></div>
					<!-- 28877130 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/28877130" target="_blank">Simko LC, Espinoza LF, McMullen K, Herndon DN, Suman O, Fauerbach JA, Kowalske K, Wiechman S, Kazis LE, Ryan CM, Schneider JC. Fatigue Following Burn Injury: A Burn Model System National Database Study. J Burn Care Res. 2017 Aug 31. doi: 10.1097/BCR.0000000000000625. [Epub ahead of print] PubMed PMID: 28877130.</a></div>
					<!-- 28712798 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/28712798" target="_blank">Soley-Bori M, Soria-Saucedo R, Youn B, Haynes AB, Macht R, Ryan CM, Schneider JC, Kazis LE. Region and Insurance Plan Type Influence Discharge Disposition After Hip and Knee Arthroplasty: Evidence From the Privately Insured US Population. J Arthroplasty. 2017 Nov;32(11):3286-3291.e4. doi: 10.1016/j.arth.2017.06.007. Epub 2017 Jun 13. PubMed PMID: 28712798</a></div>
					<!-- 28678034 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/28678034" target="_blank">Silver JK, Blauwet CA, Bhatnagar S, Slocum CS, Tenforde AS, Schneider JC, Zafonte RD, Goldstein R, Gallegos-Kearin V, Reilly JM, Mazwi NL. Women Physicians Are Underrepresented in Recognition Awards From the Association of Academic Physiatrists. Am J Phys Med Rehabil. 2017 Jul 3. doi: 10.1097/PHM.0000000000000792. [Epub ahead of print] PubMed PMID: 28678034.</a></div>
					<!-- 28483656 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/28483656" target="_blank">Al Ghriwati N, Sutter M, Pierce BS, Perrin PB, Wiechman SA, Schneider JC. Two-Year Gender Differences in Satisfaction With Appearance After Burn Injury and Prediction of Five-Year Depression: A Latent Growth Curve Approach. Arch Phys Med Rehabil. 2017 Nov;98(11):2274-2279. doi: 10.1016/j.apmr.2017.04.011. Epub 2017 May 5. PubMed PMID: 28483656.</a></div>
					<!-- 28481759 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/28481759" target="_blank">Schneider JC, Chen L, Simko LC, Warren KN, Nguyen BP, Thorpe CR, Jeng JC, Hickerson WL, Kazis LE, Ryan CM. Challenges to the Standardization of Burn Data Collection: A Call for Common Data Elements for Burn Care. J Burn Care Res. 2017 May 4. doi: 10.1097/BCR.0000000000000567. [Epub ahead of print] PubMed PMID: 28481759.</a></div>
					<!-- 28481758 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/28481758" target="_blank">Kaat AJ, Chen L, Kazis LE, Lee AF, Shapiro GD, Sheridan RL, Ryan CM, Schneider JC. Building Bridges Using the Shriners Hospitals for Children/American Burn Association Burn Outcome Questionnaires to Follow Teenagers and Young Adults Across the Age Spans. J Burn Care Res. 2017 May 4. doi: 10.1097/BCR.0000000000000566. [Epub ahead of print] PubMed PMID: 28481758.</a></div>
					<!-- 28338518 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/28338518" target="_blank">Tredget EE, Shupp JW, Schneider JC. Scar Management Following Burn Injury. J Burn Care Res. 2017 May/Jun;38(3):146-147. doi: 10.1097/BCR.0000000000000548.PubMed PMID: 28338518.</a></div>
					<!-- 28336430 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/28336430" target="_blank">Silver JK, Bhatnagar S, Blauwet CA, Zafonte RD, Mazwi NL, Slocum CS, Schneider JC, Tenforde AS. Female Physicians Are Underrepresented in Recognition Awards from the American Academy of Physical Medicine and Rehabilitation. PM R. 2017 Oct;9(10):976-984. doi: 10.1016/j.pmrj.2017.02.016. Epub 2017 Mar 21. PubMed PMID: 28336430.</a></div>
					<!-- 28328665 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/28328665" target="_blank">Schneider JC. Rehabilitation Research Priorities: The Next 10 Years. J Burn Care Res. 2017 May/Jun;38(3):e635-e637. doi: 10.1097/BCR.0000000000000542. PubMed PMID: 28328665.</a></div>
					<!-- 28134680 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/28134680" target="_blank">Griggs CL, Schneider JC, Kazis LE, Ryan CM. Patient-reported Outcome Measures: A Stethoscope for the Patient History. Ann Surg. 2017 Jun;265(6):1066-1067. doi: 10.1097/SLA.0000000000002165. PubMed PMID: 28134680.</a></div>
				</div>

				<div class="years" style=" margin-left:10px" id="year2016">
					<h2>2016</h2><!-- 2016 -->
					<!-- 27828837 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/27828837" target="_blank">Marino M, Soley-Bori M, Jette AM, Slavin MD, Ryan CM, Schneider JC, Resnik L, Acton A, Amaya F, Rossi M, Soria-Saucedo R, Kazis LE.Development of a Conceptual Framework to Measure the Social Impact of Burns..J Burn Care Res.2016 Nov Dec;37(6):e569-e578. PubMed PMID: 27828837.</a></div>
					<!-- 27424092 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/27424092" target="_blank">Shih SL, Zafonte R, Bates DW, Gerrard P, Goldstein R, Mix J, Niewczyk P, Greysen SR, Kazis L, Ryan CM, Schneider JC.Functional Status Outperforms Comorbidities as a Predictor of 30-Day Acute Care Readmissions in the Inpatient Rehabilitation Population..J Am Med Dir Assoc.2016 Oct 1;17(10):921-6. PubMed PMID: 27424092.</a></div>
					<!-- 27215148 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/27215148" target="_blank">Goverman J, Mathews K, Nadler D, Henderson E, McMullen K, Herndon D, Meyer W 3rd, Fauerbach JA, Wiechman S, Carrougher G, Ryan CM, Schneider JC.Satisfaction with life after burn:A Burn Model System National Database Study..Burns.2016 Aug;42(5):1067-1073. PubMed PMID: 27215148.</a></div>
					<!-- 26994787 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/26994787" target="_blank">Amtmann D, Gibran NS, Herndon DN, Kowalske KJ, Schneider JC.Letter to the Editor #2:Description of the Burn Model System National Database sample..Burns.2016 May;42(3):704-5. PubMed PMID: 26994787.</a></div>
					<!-- 26953515 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/26953515" target="_blank">Kazis LE, Lee AF, Rose M, Liang MH, Li NC, Ren XS, Sheridan R, Gilroy-Lewis J, Stoddard F, Hinson M, Warden G, Stubbs K, Blakeney P, Meyer W 3rd, McCauley R, Herndon D, Palmieri T, Mooney K, Wood D, Pidcock F, Reilly D, Cullen M, Calvert C, Ryan CM, Schneider JC, Soley-Bori M, Tompkins RG.Recovery Curves for Pediatric Burn Survivors:Advances in Patient-Oriented Outcomes..JAMA Pediatr.2016 Jun 1;170(6):534-42. PubMed PMID: 26953515.</a></div>
					<!-- 26803370 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/26803370" target="_blank">Ryan CM, Cartwright S, Schneider JC, Tompkins RG, Kazis LE.The burn outcome questionnaires:Patient and family reported outcome metrics for children of all ages..Burns.2016 Aug;42(5):1144-1145. PubMed PMID: 26803370.</a></div>
					<!-- 26477477 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/26477477" target="_blank">Youn B, Soley-Bori M, Soria-Saucedo R, Ryan CM, Schneider JC, Haynes AB, Cabral HJ, Kazis LE.Patient cost-sharing and insurance arrangements are associated with hospital readmissions after abdominal surgery:Implications for access and quality health care..Surgery.2016 Mar;159(3):919-29. PubMed PMID: 26477477.</a></div>
					<!-- 26409198 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/26409198" target="_blank">Schneider JC, Ozsecen MY, Muraoka NK, Mancinelli C, Della Croce U, Ryan CM, Bonato P.Feasibility of an Exoskeleton-Based Interactive Video Game System for Upper Extremity Burn Contractures..PM R.2016 May;8(5):445-52. PubMed PMID: 26409198.</a></div>
					<!-- 26284638 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/26284638" target="_blank">Ryan CM, Lee AF, Kazis LE, Shapiro GD, Schneider JC, Goverman J, Fagan SP, Wang C, Kim J, Sheridan RL, Tompkins RG.Is Real-Time Feedback of Burn-Specific Patient-Reported Outcome Measures in Clinical Settings Practical and Useful? A Pilot Study Implementing the Young Adult Burn Outcome Questionnaire..J Burn Care Res.2016 Jan-Feb;37(1):64-74. PubMed PMID: 26284638.</a></div>
				</div>

				<div class="years" style=" margin-left:10px" id="year2015">
					<h2>2015</h2><!-- 2015 -->
					<!-- 26599009 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/26599009" target="_blank">Slocum C, Gerrard P, Black-Schaffer R, Goldstein R, Singhal A, DiVita MA, Ryan CM, Mix J, Purohit M, Niewczyk P, Kazis L, Zafonte R, Schneider JC.Functional Status Predicts Acute Care Readmissions from Inpatient Rehabilitation in the Stroke Population..PLoS One.2015;10(11):e0142180. PubMed PMID: 26599009.</a></div>
					<!-- 26496115 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/26496115" target="_blank">Levi B, Jayakumar P, Giladi A, Jupiter JB, Ring DC, Kowalske K, Gibran NS, Herndon D, Schneider JC, Ryan CM.Risk factors for the development of heterotopic ossification in seriously burned adults:A National Institute on Disability, Independent Living and Rehabilitation Research burn model system database analysis..J Trauma Acute Care Surg.2015 Nov;79(5):870-6. PubMed PMID: 26496115.</a></div>
					<!-- 26244792 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/26244792" target="_blank">Gerrard P, Goldstein R, DiVita MA, Slocum C, Ryan CM, Mix J, Niewczyk P, Kazis L, Zafonte R, Schneider JC.Functional status and readmissions in unilateral hip fractures..Am J Manag Care.2015 Apr 1;21(4):e282-7. PubMed PMID: 26244792.</a></div>
					<!-- 25986908 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/25986908" target="_blank">Gerrard P, Kazis LE, Ryan CM, Shie VL, Holavanahalli R, Lee A, Jette A, Fauerbach JA, Esselman P, Herndon D, Schneider JC.Validation of the Community Integration Questionnaire in the adult burn injury population..Qual Life Res.2015 Nov;24(11):2651-5. PubMed PMID: 25986908.</a></div>
					<!-- 25956826 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/25956826" target="_blank">Shih SL, Gerrard P, Goldstein R, Mix J, Ryan CM, Niewczyk P, Kazis L, Hefner J, Ackerly DC, Zafonte R, Schneider JC.Functional Status Outperforms Comorbidities in Predicting Acute Care Readmissions in Medically Complex Patients..J Gen Intern Med.2015 Nov;30(11):1688-95. PubMed PMID: 25956826.</a></div>
					<!-- 25725572 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/25725572" target="_blank">Stoddard FJ Jr, Ryan CM, Schneider JC.Physical and psychiatric recovery from burns..Psychiatr Clin North Am.2015 Mar;38(1):105-20. PubMed PMID: 25725572.</a></div>
					<!-- 25691236 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/25691236" target="_blank">Soley-Bori M, Soria-Saucedo R, Ryan CM, Schneider JC, Haynes AB, Gerrard P, Cabral HJ, Lillemoe KD, Kazis LE.Functional Status and Hospital Readmissions Using the Medical Expenditure Panel Survey..J Gen Intern Med.2015 Jul;30(7):965-72. PubMed PMID: 25691236.</a></div>
					<!-- 25501787 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/25501787" target="_blank">Ryan CM, Lee A, Kazis LE, Schneider JC, Shapiro GD, Sheridan RL, Meyer WJ, Palmieri T, Pidcock FS, Reilly D, Tompkins RG.Recovery trajectories after burn injury in young adults:does burn size matter?.J Burn Care Res.2015 Jan-Feb;36(1):118-29. PubMed PMID: 25501787.</a></div>
					<!-- 25251252 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/25251252" target="_blank">Luce JC, Mix J, Mathews K, Goldstein R, Niewczyk P, DiVita MA, Gerrard P, Sheridan RL, Ryan CM, Kowalske K, Zafonte R, Schneider JC.Inpatient rehabilitation experience of children with burn injuries:a 10-yr review of the uniform data system for medical rehabilitation..Am J Phys Med Rehabil.2015 Jun;94(6):436-43. PubMed PMID: 25251252.</a></div>
					<!-- 25171665 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/25171665" target="_blank">Slocum CS, Goldstein R, DiVita MA, Mix J, Niewczyk P, Gerrard P, Sheridan R, Kowalske KJ, Zafonte R, Ryan CM, Schneider JC.Assessing the ability of comorbidity indexes to capture comorbid disease in the inpatient rehabilitation burn injury population..Am J Phys Med Rehabil.2015 May;94(5):373-84. PubMed PMID: 25171665.</a></div>
					<!-- 25162949 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/25162949" target="_blank">Schneider JC, Nadler DL, Herndon DN, Kowalske K, Matthews K, Wiechman SA, Carrougher GJ, Gibran NS, Meyer WJ, Sheridan RL, Ryan CM.Pruritus in pediatric burn survivors:defining the clinical course..J Burn Care Res.2015 Jan-Feb;36(1):151-8. PubMed PMID: 25162949.</a></div>
					<!-- 25094007 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/25094007" target="_blank">Nedelec B, Carter A, Forbes L, Hsu SC, McMahon M, Parry I, Ryan CM, Serghiou MA, Schneider JC, Sharp PA, de Oliveira A, Boruff J.Practice guidelines for the application of nonsilicone or silicone gels and gel sheets after burn injury..J Burn Care Res.2015 May-Jun;36(3):345-74. PubMed PMID: 25094007.</a></div>
				</div>

				<div class="years" style=" margin-left:10px" id="year2014">
					<h2>2014</h2><!-- 2014 -->
					<!-- 2014 25536085 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/25536085" target="_blank">Trinh NH, Nadler DL, Shie V, Fregni F, Gilman SE, Ryan CM, Schneider JC.Psychological sequelae of the station nightclub fire:Comparing survivors with and without physical injuries using a mixed-methods analysis..PLoS One.2014;9(12):e115013. PubMed PMID: 25536085.</a></div>
					<!-- 25410086 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/25410086" target="_blank">Cesar LA, Ferreira JF, Armaganijan D, Gowdak LH, Mansur AP, Bodanese LC, Sposito A, Sousa AC, Chaves AJ, Markman B, Caramelli B, Vianna CB, Oliveira CC, Meneghetti C, Albuquerque DC, Stefanini E, Nagib E, Pinto IM, Castro I, Saad JA, Schneider JC, Tsutsui JM, Carneiro JK, Torres K, Piegas LS, Dallan LA, Lisboa LA, Sampaio MF, Moretti MA, Lopes NH, Coelho OR, Lemos P, Santos RD, Botelho R, Staico R, Meneghello R, Montenegro ST, Vaz VD.Guideline for stable coronary artery disease..Arq Bras Cardiol.2014 Aug;103(2 Suppl 2):1-56. PubMed PMID: 25410086.</a></div>
					<!-- 25085093 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/25085093" target="_blank">Stoddard FJ Jr, Ryan CM, Schneider JC.Physical and psychiatric recovery from burns..Surg Clin North Am.2014 Aug;94(4):863-78. PubMed PMID: 25085093.</a></div>
					<!-- 24917849 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/24917849" target="_blank">Egyhazi R, Fregni F, Bravo GL, Trinh NH, Ryan CM, Schneider JC.Chronic pain following physical and emotional trauma:the station nightclub fire..Front Neurol.2014;5:86. PubMed PMID: 24917849.</a></div>
					<!-- 24880057 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/24880057" target="_blank">DiVita MA, Mix JM, Goldstein R, Gerrard P, Niewczyk P, Ryan CM, Kowalske K, Zafonte R, Schneider JC.Rehabilitation outcomes among burn injury patients with a second admission to an inpatient rehabilitation facility..PM R.2014 Nov;6(11):999-1007. PubMed PMID: 24880057.</a></div>
					<!-- 24676366 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/24676366" target="_blank">Alessi A, Brand?o AA, Paiva AM, Rocha Nogueira Ad, Feitosa A, Campos Gonzaga Cd, Amodeo C, Mion D, Souza Ddo S, Barbosa E, Lima Junior E, Nobre F, Fuchs FD, Chaves Junior H, Schneider JC, Gemelli J, Villela-Martin JF, Scala LC, Gomes MA, Malachias MV, Morais NS, Moreira Filho O, Passarelli Junior O, Jardim PC, Miranda RD, P?voa R, Fuchs SC, Baiocchi S, Jardim TV, Barroso WK.I Brazilian position paper on prehypertension, white coat hypertension and masked hypertension:diagnosis and management..Arq Bras Cardiol.2014 Feb;102(2):110-8. PubMed PMID: 24676366.</a></div>
					<!-- 24582616 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/24582616" target="_blank">Purohit M, Goldstein R, Nadler D, Mathews K, Slocum C, Gerrard P, DiVita MA, Ryan CM, Zafonte R, Kowalske K, Schneider JC.Cognition in patients with burn injury in the inpatient rehabilitation population..Arch Phys Med Rehabil.2014 Jul;95(7):1342-9. PubMed PMID: 24582616.</a></div>
					<!-- 23799485 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/23799485" target="_blank">Schneider JC, Mathews K, Ryan CM.Burn rehabilitation outcomes:lessons learned from the uniform data system for medical rehabilitation..J Burn Care Res.2014 May-Jun;35(3):212-3. PubMed PMID: 23799485.</a></div>
				</div>

				<div class="years" style=" margin-left:10px" id="year2013">
					<h2>2013</h2><!-- 2013 -->
					<!-- 2013 23511284 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/23511284" target="_blank">Ryan CM, Schneider JC, Kazis LE, Lee A, Li NC, Hinson M, Bauk H, Peck M, Meyer WJ 3rd, Palmieri T, Pidcock FS, Reilly D, Tompkins RG.Benchmarks for multidimensional recovery after burn injury in young adults:the development, validation, and testing of the American Burn Association/Shriners Hospitals for Children young adult burn outcome questionnaire..J Burn Care Res.2013 May-Jun;34(3):e121-42. PubMed PMID: 23511284.</a></div>
					<!-- 23511282 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/23511282" target="_blank">Schneider JC, Tan WH, Goldstein R, Mix JM, Niewczyk P, Divita MA, Ryan CM, Gerrard PB, Kowalske K, Zafonte R.Time to rehabilitation in the burn population:incidence of zero onset days in the UDSMR national dataset..J Burn Care Res.2013 Nov-Dec;34(6):666-73. PubMed PMID: 23511282.</a></div>
					<!-- 23473701 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/23473701" target="_blank">Gerrard P, Goldstein R, Divita MA, Ryan CM, Mix J, Niewczyk P, Kazis L, Kowalske K, Zafonte R, Schneider JC.Validity and reliability of the FIM instrument in the inpatient burn rehabilitation population..Arch Phys Med Rehabil.2013 Aug;94(8):1521-1526.e4. PubMed PMID: 23473701.</a></div>
					<!-- 23292595 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/23292595" target="_blank">Portilla AS, Bravo GL, Miraval FK, Villamar MF, Schneider JC, Ryan CM, Fregni F.A feasibility study assessing cortical plasticity in chronic neuropathic pain following burn injury..J Burn Care Res.2013 Jan-Feb;34(1):e48-52. PubMed PMID: 23292595.</a></div>
					<!-- 23089617 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/23089617" target="_blank">Galv?n EM, Ielmini MV, Patel YN, Bianco MI, Franceschini EA, Schneider JC, Ielpi L.Xanthan chain length is modulated by increasing the availability of the polysaccharide copolymerase protein GumC and the outer membrane polysaccharide export protein GumB..Glycobiology.2013 Feb;23(2):259-72. PubMed PMID: 23089617.</a></div>
					<!-- 22981003 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/22981003" target="_blank">Schneider JC, Gerrard P, Goldstein R, DiVita MA, Niewczyk P, Ryan CM, Kowalske K, Zafonte R.The impact of comorbidities and complications on burn injury inpatient rehabilitation outcomes..PM R.2013 Feb;5(2):114-21. PubMed PMID: 22981003.</a></div>
				</div>

				<div class="years" style=" margin-left:10px" id="year2012">
					<h2>2012</h2><!-- 2012 -->
					<!-- 2012 23835626 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/23835626" target="_blank">Gibran NS, Wiechman S, Meyer W, Edelman L, Fauerbach J, Gibbons L, Holavanahalli R, Hunt C, Keller K, Kirk E, Laird J, Lewis G, Moses S, Sproul J, Wilkinson G, Wolf S, Young A, Yovino S, Mosier MJ, Cancio LC, Amani H, Blayney C, Cullinane J, Haith L, Jeng JC, Kardos P, Kramer G, Lawless MB, Serio-Melvin ML, Miller S, Moran K, Novakovic R, Potenza B, Rinewalt A, Schultz J, Smith H, Dylewski M, Wibbenmeyer L, Bessey PQ, Carter J, Gamelli R, Goodwin C, Graves T, Hollowed K, Holmes J 4th, Noordenbas J, Nordlund M, Savetamal A, Simpson P, Traber D, Traber L, Nedelec B, Donelan M, Baryza MJ, Bhavsar D, Blome-Eberwein S, Carrougher GJ, Hickerson W, Joe V, Jordan M, Kowalske K, Murray D, Murray VK, Parry I, Peck M, Reilly D, Schneider JC, Ware L, Singer AJ, Boyce ST, Ahrenholz DH, Chang P, Clark RA, Fey R, Fidler P, Garner W, Greenhalgh D, Honari S, Jones L, Kagan R, Kirby J, Leggett J, Meyer N, Reigart C, Richey K, Rosenberg L, Weber J, Wiggins B.Summary of the 2012 ABA Burn Quality Consensus conference..J Burn Care Res.2013 Jul-Aug;34(4):361-85. PubMed PMID: 23835626.</a></div>
					<!-- 23270165 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/23270165" target="_blank">Ali A, Cantrell CL, Bernier UR, Duke SO, Schneider JC, Agramonte NM, Khan I.Aedes aegypti (Diptera:Culicidae) biting deterrence:structure-activity relationship of saturated and unsaturated fatty acids..J Med Entomol.2012 Nov;49(6):1370-8. PubMed PMID: 23270165.</a></div>
					<!-- 23188249 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/23188249" target="_blank">Schneider JC, Gerrard P, Goldstein R, Divita MA, Niewczyk P, Ryan CM, Tan WH, Kowalske K, Zafonte R.Predictors of transfer from rehabilitation to acute care in burn injuries..J Trauma Acute Care Surg.2012 Dec;73(6):1596-601. PubMed PMID: 23188249.</a></div>
					<!-- 23171100 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/23171100" target="_blank">Sheridan RL, Schaefer PW, Whalen M, Fagan S, Stoddard FJ Jr, Schneider JC, McConkey B, Cancio LC.Case records of the Massachusetts General Hospital. Case 36-2012. Recovery of a 16-year-old girl from trauma and burns after a car accident..N Engl J Med.2012 Nov 22;367(21):2027-37. PubMed PMID: 23171100.</a></div>
					<!-- 23142348 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/23142348" target="_blank">Liepelt R, Schneider JC, Aichert DS, W?stmann N, Dehning S, M?ller HJ, Riedel M, Dolk T, Ettinger U.Action blind:disturbed self-other integration in schizophrenia..Neuropsychologia.2012 Dec;50(14):3775-80. PubMed PMID: 23142348.</a></div>
					<!-- 23077593 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/23077593" target="_blank">Schneider JC, Trinh NH, Selleck E, Fregni F, Salles SS, Ryan CM, Stein J.The long-term impact of physical and emotional trauma:the station nightclub fire..PLoS One.2012;7(10):e47339. PubMed PMID: 23077593.</a></div>
					<!-- 22378335 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/22378335" target="_blank">Sousa MR, Mourilhe-Rocha R, Paola AA, K?hler I, Feitosa GS, Schneider JC, Feitosa-Filho GS, Nicolau JC, Ferreira JF, Morais NS.1st Guidelines of the Brazilian Society of Cardiology on processes and skills for education in cardiology in Brazil--executive summary..Arq Bras Cardiol.2012 Feb;98(2):98-103. PubMed PMID: 22378335.</a></div>
					<!-- 22119446 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/22119446" target="_blank">Schneider JC, Qu HD, Lowry J, Walker J, Vitale E, Zona M.Efficacy of inpatient burn rehabilitation:a prospective pilot study examining range of motion, hand function and balance..Burns.2012 Mar;38(2):164-71. PubMed PMID: 22119446.</a></div>
					<!-- 21941195 --> <div class="col-sm-12 publication publication-2" style="padding-top: 10px;"><a href="https://www.ncbi.nlm.nih.gov/pubmed/21941195" target="_blank">Tan WH, Goldstein R, Gerrard P, Ryan CM, Niewczyk P, Kowalske K, Zafonte R, Schneider JC.Outcomes and predictors in burn rehabilitation..J Burn Care Res.2012 Jan-Feb;33(1):110-7. PubMed PMID: 21941195.</a></div>
				</div>
			</div>
		</div>
