<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
var base_url = "http://bh-bims.launchpaddev.com";
var url = base_url + "/wp-content/themes/sanabel-launchpad/lib/video-select/getvideos.php";
var data = {toggle:2};
$.ajax({
  url: url,
  data: data,
  dataType:'json',
  method:'GET',
}).done(function(data) {
        var videos = data.videos;
        $.each(videos, function(index, video){
                console.log(video.video_title);
        });
  })
  .fail(function() {
  })
  .always(function() {
  });
;
</script>

